.inicio{
        background: $color-inicio;
        background-size: 100% 100%;
}
@media screen and (max-width: 767px) {
    .image-container img{
        animation: moveIn 1s ease-in-out forwards;
    }
}
.fd-eq{
    background: $color-fd-eq;
}
.seg-pag{
    background-image: url(../img/src/1522410569_000201_1522410984_noticia_normal.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
@media screen and (max-width: 756px){
    .seg-pag{
        background-image: url(../img/src/monacofondo.png);
    }
}
.terc-pag{
    background-image: url(../img/src/Spa\,\ Belgica\ imagen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
@media screen and (max-width: 756px){
    .terc-pag{
        background-image: url(../img/src/spa\ cel.png);
    }
}
.cuarta-pag{
    background-image: url(../img/src/Singapur\,\ Marina\ Bay.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
@media screen and (max-width: 756px){
    .cuarta-pag{
        background-image: url(../img/src/Marina\ bay\ cel\ \(1\).png);
    }
}
.quinta-pag{
    background-image: url(../img/src/yasmarine\ compu2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
@media screen and (max-width: 756px){
    .quinta-pag{
        background-image: url(../img/src/yasmarine\ cel.png);
    }
}
