$botones: (
    boton-primario: linear-gradient(180deg, rgba(14, 13, 13, 0.4) 0%, rgba(203, 188, 188, 0.119312) 0.01%, rgba(197, 181, 181, 0.141667) 7.29%, rgba(184, 173, 173, 0.120667) 39.06%, rgba(224, 208, 208, 0.0495399) 78.12%, rgba(230, 214, 214, 0.03125) 92.19%, rgba(255, 255, 255, 0) 100%),
    boton-secundario: #e007006b,
    boton-terc:#3d000084,
);
